$c-gray: #eee;
$header-background-color: #2c2c2c;
$header-background-secondary-color: #f2f6fa;
$header-text-color: #fff;
$button-color: #2060f6;
$border-radius: 8px;
$about-title-color: #253757;
$about-text-color: #6c788b;
$services-title-color: #c0cdd7;
$services-card-title-color: #e9f0ff;
$services-card-button-text-color: #334563;
$cards-box-shadow: 0px 9px 18px 0px rgba(37, 41, 49, 0.03);
$cards-background-color: #fff;
$form-focus-color: #144ed4;
$footer-title-color: #959595;
$slider-height: 390px;
$transition: 0.3s ease;
$scale: scale(1.07);
